/* Commonly used background colors */
:root {
  --blue: #79bbf8;
  --dark-blue: #3d5368;
  --beige: #b4aea0;
}

/* Font Family and background color is defined for the whole page */
body {
  font-family: Orbitron, Arial, sans-serif, 'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif,
    monospace;
  margin: 0;
  background-color: var(--beige);
}

/* Indents are given to make space for the aside content */
.indent-1 {
  display: flex;

}
.indent-1 p {
  width: 70%;
  
}



/* Resume Container */
.resume-container {
  letter-spacing: 1px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--beige); /* Light gray background for the resume section */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

/* Resume Title */
.resume-title {
  text-align: center;
  font-size: 2rem;
  padding: 4px;
  margin-bottom: 20px;
  color: #f9f9f9; 
  background-color: var(--dark-blue);
}

/* Skills Section */
.skills-section {
  letter-spacing: 1px;
  margin-bottom: 20px;
  background-color: var(--beige); /* Consistent background color */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Consistent shadow effect */
  padding: 20px;
}

.section-title {
  font-size: 1.2rem;
  padding: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
  color: #f9f9f9;
  background-color: var(--dark-blue);
}

/* Skill List */
.skill-list {
  list-style-type: none; /* Remove default list bullets */
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Wrap items to the next line */
  justify-content: center; /* Center items horizontally */
}

/* Skill Item */
.skill-item {
  font-size: 1rem;
  margin: 5px;
  background-color: var(--light-blue); /* Light blue background for list items */
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
  text-align: center; /* Center text inside the item */
  flex: 1 1 30%; /* Flex-grow and flex-basis for responsiveness */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.skill-item:hover {
  background-color: var(--blue); /* Darker blue background on hover */
  color: #ffffff; /* White text on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}

/* Download Resume */
.resume-download {
  text-align: center;
  margin-top: 20px;
}

.download-link {
  font-size: 1rem;
  color: #1d6c8b; /* Dark blue color for the link */
  text-decoration: none;
  border: 2px solid #1d6c8b;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: var(--beige); /* White background for the button */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.download-link:hover {
  background-color: #1d6c8b; /* Dark blue background on hover */
  color: #ffffff; /* White text on hover */
}






/* Contact Page */
form {
  
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--beige);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

/* Label styling */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}


input[type="text"], input[type="email"], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--beige);
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: var(--beige);
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Added transition for box-shadow */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* More visible shadow for non-focused state */
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  border-color: #6a5acd; /* Custom focus color (adjust as needed) */
  outline: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Darker and more pronounced shadow on focus */
}

/* Textarea specific styles */
textarea {
  min-height: 100px;
  resize: vertical; /* Allow vertical resizing */
}

/* Button styling */
button[type="submit"] {
  display: inline-block;
  padding: 12px 25px;
  background-color: var(--dark-blue); /* Custom button color */
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Add a glowing effect */
  transform: scale(1.05); /* Slightly increase the size */
}



/* Centering the Contact Page */
.contact-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--beige);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-title {
  letter-spacing: 1px;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #f9f9f9; 
  background-color: var(--dark-blue);
}

.contact-form {
  margin: 0 auto;
}

@media (max-width: 768px) {
  form {
    padding: 15px;
  }
  
  button[type="submit"] {
    width: 100%; /* Full width button on smaller screens */
  }
}

/* Header background and font color is defined */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: var(--dark-blue);
  color: #000;
  text-align: center; /* Center align text */
}

/* Headers font sizes adjusted */
h1 {
  font-size: 150%; /* Adjusted font size for smaller screens */
  margin: 10px;
  padding-left: 20px; /* Adjusted padding */
}

h2 {
  letter-spacing: 1px;
  margin-top: 2px;
  font-size: 120%; /* Adjusted font size for smaller screens */
}

/* Navigation bar adjustments */
nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Full width for navigation */
  padding: 0;
  list-style-type: none; /* Remove default list styles */
}

nav a {
  color: #b9c6ae;
  margin: 5px;
  font-weight: bold;
  text-decoration: none;
  display: block; /* Display links as block for stacking */
  padding: 10px;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

nav a:hover {
  color: white; /* Change color on hover */
}

article {
  margin: 10px;
}

article h2 {
  letter-spacing: 1px;
  background-color: var(--dark-blue);
  text-align: center;
  font-size: 25px; /* Adjusted font size for smaller screens */
  padding-top: 2px;
  padding-bottom: 2px;
  max-width: 90%;
  margin: 0 auto; /* Center the element horizontally */
  color: #111010;
}

main p {
  letter-spacing: 1px;
  padding: 5px;
  max-width: 90%; /* Adjusted width for readability */
  margin: 0 auto; /* Center the element horizontally */
  line-height: 1.2;
}

.img1 {
  max-width: 200px;
  max-height: 300px;
  padding-top: 10px;
  padding-bottom: 2px;
  display: block;
  margin: 0 auto; /* Center image */
  border-radius: 30px;
}

/* Footer text and display adjustments */
footer {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  max-width: 70%;
  margin: 0 auto; /* Center the footer horizontally */
}

footer span {
  display: block; /* Ensure block-level display for span */
  padding: 20px;
  font-size: 150%;
}

.center-links {
  display: flex;
  justify-content: center;
  padding: 5px;
}
#ptag{
  color: #000000;
  margin: 0 auto 20px auto;
  max-width: 80%;
  letter-spacing: 1px;
}
.Links {
  text-decoration: none; /* Remove underline from links */
  color: #000; /* Icon color, adjust as needed */
  font-size: 1.5rem; /* Adjust size of icons */
  margin: 0 10px; /* Spacing between icons */
}

.Links:hover {
  color: #1d6c8b; /* Change color on hover */
}

ul {
  list-style: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  display: flex; /* Align icons in a row */
  justify-content: center; /* Center align */
}

li {
  margin: 0 10px; /* Spacing around list items */
}


footer h5 {
  display: block; /* Ensure block-level display */
  font-size: 20px;
  padding-top: 5px;
  justify-content: center;
}

.Contact {
  display: flex;
  font-size: 15px;
  justify-content: center;
  line-height: 20px;
  background-color: var(--dark-blue);
  padding-bottom: 5px;
}

div.highlight{
  background-color: #79f8f2; /* Change background color to highlight */
  transition: background-color 1s ease; /* Smooth transition effect */
}

article.highlight{
  background-color: #79f8f2; /* Change background color to highlight */
  transition: background-color 1s ease; /* Smooth transition effect */
}

nav.highlight {
  color: #000; /* Change text color */
  background-color: #79f8f2; /* Change background color to highlight */
  transition: background-color 1s ease, color 0.5s ease; /* Smooth transition for both background color and text color */
}
nav.highlight ul li a{
  color: #000; /* Change text color */
}



@media screen and (max-width: 768px) {

  header {
    flex-direction: column; /* Stack header items vertically */
    width: 100%;
  }

  h1 {
    font-size: 100%; /* Adjusted font size */
    padding-left: 10px; /* Further adjusted padding */
  }

  nav ul {
    font-size: 80%;
    flex-direction: column; /* Stack navigation links vertically */
    align-items: center; /* Center-align links */
    margin: 0; /* Remove default margin */
  }

  nav a {
    margin: 2px 0; /* Adjust spacing between navigation links */
  }

  article h2 {
    font-size: 15px; /* Adjusted font size */
  }

  main p {
    max-width: 70%; /* Adjusted width for readability */
    font-size: 70%;
  }

  .img1 {
    max-width: 100%; /* Adjusted max-width for responsiveness */
  }

  footer {
    max-width: 70%; /* Full width for footer */
    margin-top: 10px; /* Add space above footer */
    padding: 10px 0; /* Adjust padding */
  }

  footer span {
    font-size: 70%;
    padding: 10px 0; /* Adjust padding */
  }

.footer_links h4{
    font-size: 70%;
  }
  .footer_links a{
    font-size: 70%;
  }
  #Contact-me{
    font-size: 70%;
  }
  #Contact-me h5{
    font-size: 150%;
  }

}

/* Media screen for 375px width */
@media screen and (max-width: 375px) {


  header {
    flex-direction: column; /* Stack header items vertically */
    width: 100%;
  }

  h1 {
    font-size: 100%; /* Adjusted font size */
    padding-left: 10px; /* Further adjusted padding */
  }

  nav ul {
    font-size: 70%;
    flex-direction: column; /* Stack navigation links vertically */
    align-items: center; /* Center-align links */
  }
   
  nav a{
    padding: 2px;
  }
  article h2 {
    font-size: 15px; /* Adjusted font size */
  }

  main p {
    max-width: 70%; /* Adjusted width for readability */
    font-size: 70%;
  }

  .img1 {
    max-width: 100%; /* Adjusted max-width for responsiveness */
  }

  footer {
    max-width: 70%; /* Full width for footer */
    margin-top: 10px; /* Add space above footer */
    padding: 10px 0; /* Adjust padding */
  }

  footer span {
    font-size: 70%;
    padding: 10px 0; /* Adjust padding */
  }

.footer_links h4{
    font-size: 70%;
  }
  .footer_links a{
    font-size: 70%;
  }
  #Contact-me{
    font-size: 70%;
  }
  #Contact-me h5{
    font-size: 150%;
  }
}
.email_link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color from parent */
}
/* General styling for the error page container */
#error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full viewport height */
  background-color: #f2f2f2; /* Light gray background for the page */
  color: #333; /* Dark text color for readability */
  text-align: center; /* Center align text */
  padding: 20px;
}

/* Styling for the main error heading */
#error-page h1 {
  font-size: 4rem; /* Large font size for the main heading */
  margin-bottom: 20px;
  color: #d9534f; /* Bootstrap danger color for a more prominent error appearance */
}

/* Styling for the error message paragraphs */
#error-page p {
  font-size: 1.25rem; /* Slightly larger text for better readability */
  margin: 10px 0;
}

/* Italic text styling for the error details */
#error-page i {
  color: #555; /* Slightly lighter color for the error details */
}

/* Optional: Add a button to redirect or navigate away */
#error-page button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff; /* Primary button color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Button hover effect */
#error-page button:hover {
  background-color: #0056b3; /* Darker shade of button color on hover */
}








